body {
    background-image: url('imagenes/mel3.jpeg');
    background-size: 700px 600px ; /* Usa el tamaño original de las imágenes */
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center; /* Alinea el texto en el centro */
}

.title {
    font-style: italic;
    font-weight: bold;
    font-size: 50px; /* Ajusta el tamaño de la fuente según tus preferencias */
    color: rgb(95, 34, 16);
}


.centered-text {
    font-size: 18px; /* Ajusta el tamaño de la fuente según tus preferencias */
}
.buttons {
    text-align: center; /* Alinea los botones al centro */
}

.btn-yes, .btn-no {
    background-color: red;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-yes:hover, .btn-no:hover {
    background-color: darkred;
}
